---
title: Installing Ingress Routing on Enterprise PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to configure Istio as your <%= vars.product_full %> deployment's Ingress Router."

## <a id='overview'></a> Overview

[About Ingress Routing](https://docs.pivotal.io/runtimes/pks/1-3/nsxt-ingress-srvc-lb.html)
A Kubernetes ingress resource exposes HTTP and HTTPS routes from outside the cluster to services within the cluster. Traffic routing is controlled by rules defined on the ingress resource. See the Kubernetes documentation for more information about ingress resources.

The NSX-T load balancer that is automatically provisioned by PKS provides two Layer 7 virtual servers for Kubernetes ingress resources, one for HTTP and the other for HTTPS. For more information, see Supported Load Balancer Features in the NSX-T documentation.

You define ingress resource configuration in the manifest of your Kubernetes deployment. Use wildcard DNS entries to route traffic to the exposed ingress resource.



Cookbook description: "_In most situations deploying a separate load balancer instance for an individual web app will lead to IP exhaustion and unnecessary complexity. 
In PAS we have the Gorouters which handle application routing and in PKS we have Ingress routers. 
This cookbook will show you how to deploy Istio to a PKS cluster and push an application using the deployed ingress service. 
It should be noted that NSX-T provides its own ingress routing functionality. This guide will also include native NSX-T Ingress 
routing capability and how to terminate TLS in its current release (NSX-T 2.2 and higher)._"

To configure Istio as your <%= vars.product_short %> ingress router, do the following:

* Verify PKS minimum requirements are met: [Prerequisites](#prerequisites)
* [Install Istio](#install-istio)
* [Setup Load Balancers](#setup-lb)
* Enable TLS
* Deploy Your Application
* [(Optional) Name of Task 2](#task-2)

<p class='note'><b>Note:</b> Unless the number of tasks in the procedure is particularly high, do not use numbered lead-ins in the task headings. For example, instead of "Task 1: Install the Plugin", use "Install the Plugin".</p>

## <a id='prerequisites'></a> Prerequisites

Before you setup ingress routing, you must confirm `KubeDNS` is running in your environment.  

To confirm that KubeDNS is running perform the following steps:  

1. Run the following command:

    ```
    kubectl cluster-info
    ```
1. Verify `KubeDNS` is listed and running.
1. If `KubeDNS` is not listed you must enable Post Install Scripts, in your BOSH Director, and delete and recreate your cluster.

## <a id='install-istio'></a> Install Istio

Istio provides ingress routing for a cluster's application workload. Perform the following steps to install Istio in your deployment.

1. To set the current `kubectl` context, run the following command:

    ```
    XXXXXXXXXXXXXX
    ```

1. To install Istio, run the following command:

    ```
    curl -L https://git.io/getLatestIstio | sh \
    -kubectl apply -f istio-*/install/kubernetes/istio.yaml
    ```

1. To configure Istio to scale for high availability, run the following command:

    ```
    kubectl -n istio-system scale deploy/istio-ingress --replicas=3
    ```

## <a id='setup-lb'></a> Setup Load Balancers

Istio provides ingress routing for a cluster's application workload. Perform the following steps to install Istio in your deployment.

1. To set
1. To



1. Step 1
1. Step 2

## <a id='task-2'></a> (Optional) Task 2

Write a few sentences to describe the task and provide additional context on the task.

To [task], do the following:

1. Step 1
2. Step 2

## <a id='sample'></a> Procedural Content Samples

The following are common content types that may appear in procedural topics. Copy and paste the markdown to reuse it in your topic.

### "Fill-In-The-Fields" Table

In cases where users must fill out several fields on a page of a product, use the table format below within the procedure.

To configure the product, do the following:

1. In **Product Dashboard**, click **Settings**.
1. Configure the **Settings** fields as follows:
  <table>
    <tr>
    	<th>Field</th>
    	<th>Instructions</th>
    </tr>
    <tr>
    	<td>
    		<strong>Field Name</strong>
    	</td>
        <td>
        	Instructions for how to complete the field
        </td>
    </tr>
    <tr>
    	<td>
    		<strong>Field Name</strong>
    	</td>
        <td>
        	Instructions for how to complete the field
        </td>
    </tr>
  </table>

### Note

<p class='note'><b>Note:</b></p>

### Warning

<p class='note warning'><b>Warning:</b></p>

## <a id='example'></a>Example Procedure Topic

The following is an example procedure topic with important points highlighted.

![Annotated procedure topic](../image/example-procedure-topic.png)  